<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<nav class="nav-bar">
    <input type="checkbox" id="chk-nav-bar">
    <div class="menu-options">
        <ul class="nav-site">
            <li><a class="menu-options-links" href="#Ofertas">Ofertas</a></li>
            <li><a class="menu-options-links" href="#Tiendas">Tiendas Oficiales</a></li>
            <li><a class="menu-options-links" href="#vender">Vender</a></li>
            <li><a class="menu-options-links" href="#Ayuda">Ayuda</a></li>
        </ul>
        <ul class="nav-login">
            <li><a class="menu-options-links" href="/register">Crea tu cuenta<i class="header-icon far fa-address-card"></i></a></li>
            <li><a class="menu-options-links" href="/login">Ingresa<i class="header-icon fas fa-sign-in-alt"></i></a></li>
            <li><a class="menu-options-links" href="#miscompras">Mis compras<i class=" header-icon fas fa-shopping-basket"></i></a></li>
        </ul>
    </div>
    <label for="chk-nav-bar" id="burger-close" class="burger-close"><span><i class="nav-icon close-icon fas fa-times"></i></span></label>
    <label for="chk-nav-bar" id="burger-open"><span class="hamburger"><i class="nav-icon burger-icon fas fa-bars"></i></span></label>
</nav>
<body>
    <h1 class="h1">hola mundo</h1>
</body>
</html>