@import url(_register.css);
@import url(_login.css);
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}



.box-main{
    padding-bottom: 3%;
    width: 100%;
    justify-content: center;
    background-color: lightgrey;
}
header{
    background-color: #eac926;
}
.header{
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.text-header{
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.text-header i{
    padding-right: 5px;
}

.logo{
    width: 150px;
    padding-bottom: 10px; 
    padding-top: 10px;
}

.search{
    display: flex;
    width: 40%;
    margin-bottom: 10px;
    margin-right: 20px;
}

.burger span{ 
    background-color: #03264C;
    color: #ffffff;
    display: block;
    width: 50px;
    padding: 13px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 150px;
}
.lista-1, .lista-2{
    display: none;
}
.nav {
    display: none;
    font-size: 20px;
    display: block;
    text-align: center;
    padding-top: 4%;
    background-color: #eac926;
}

.lista-1 ul{
    display: none;
    text-align: center;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
}

.lista-2 ul{
    display: none;
    text-align: center;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
}

.lista-1 ul li{
    display:flex;
    text-align: center;
    list-style: none;
}

.lista-2 ul li{
    display:flex;
    list-style: none;
    margin-right: 5px;
    
}

.lista-2 ul li i{
    padding-left: 8px;
}

ul li a{
    text-decoration: none;
    color: black;
}

.banner img{
    display: flex;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    padding-top: 2%;
}
.titular{   
    text-align: center; 
    margin-top: 5%;
    margin-bottom: 7%;
    font-size: 0.9em;
    padding-top: 18px;
    padding-left: 15px;
}

.principal{
    display: block;
}

.productos {
    
    position: relative;
    margin-top: 30px;
}
.productos img{
    width: 100%;
}
.box{
    border-top: 0px solid #ebebeb;
    text-align: center;
    padding-bottom: 5px;
}

.box h4{
    margin-top: 10px;
}

.productos:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}

.off{
    
    color: #39b54a;;
    font-size: 20px;
}

.precio{
    font-size: 22px;
    color: #666;
    font-weight: bold;
}

.description{    
    display: none;
    font-size: 20px;
    color: #666;    
}

.truck-icon{
    display: block;
    position: absolute;
    right: 25px;
    bottom: 90px;
    font-size: 30px;
    max-width: 60px;
    border-radius: 50%;
    padding: 10px;
    border: #39b54a 1.3px solid;
    color: #39b54a;
}

.container-main{
    
    background-color: lightgrey;
    
}



footer{
    width: 100%;
    background-color:white;
}

.footer-container{
    margin-left: 20px;
    padding-top: 5%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-description h3 {
    color:rgb(151, 148, 148)
    
}
.footer-complete .icono{
    color: blue;
    padding-top: 10px;
    padding-bottom: 5px;
    transition: 0.4s;
}

.footer-complete .icono:hover{
    color: greenyellow;
}

.footer-pie{
    padding-top: 10px;
}

@media(min-width:480px){
    .lista-1 , .lista-2 {
        display: flex;
    }
    .burger{
        display: none;
    }
    
}

@media(min-width:559px){
    
    .logo{
        width: 200px;
    }
    .search{
        margin-left: 55px;
        margin-right: 0;
    }

   
    
    .titular{
        text-align: center;
        font-size: 2.0em;
    }
    
   
}

@media(min-width:700px){
    .header{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    } 
    
    .header .logo{
        width: 300px;
    }
    .header .search{
        width: 20%;
    }

    .header .search input{
        width: 100%;
    }
    .header .text-header{
        margin-right: 20px;
        font-size: 18px;
    }
   
    .nav{
       display: flex;
       justify-content: space-around;
   }
  
   
   .lista-1 ul{
       display: flex;
       flex-direction: row;
       padding-right: 10px;
    }
   
   .lista-2 ul{
       display: flex;
       flex-direction: row;
    }
   
   ul li{
       padding-right: 10px;
    }
   
   .principal{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
   } 

   .productos{
       width: 48%;
   }

   .box{
       text-align: left;
       margin-left: 10px;
   }
   
   .truck-icon{
    margin-top: -30px;
    font-size: 27px;
    padding: 15px;
    max-width: 65px;
    background-color: #FFF;
    border: 1.3px solid #39b54a;
   }

   .precio{
       font-size: 26px;
       display: inline-block;
    }

   .off{
       display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    font-weight: lighter;

   }
   
   .description{
    display: block;
    margin-top: -10px;
    color: #ababab;
    font-size: 22px;
   }
   
}
@media(min-width:840px){
    

    .nav{
        font-size: 20px;
       
    }

    

    .titular{
        font-size: 2.8em;
        text-align: center;
    }
    .productos{
        width: 22%;
        transition: all 450ms;
    }

    .footer-description h3{
        font-size: 30px;
    }

    .footer-complete p{
        padding-top: 10px;
        font-size: 20px;
    }

    .text-header{
        font-size: 12px;    
    }
   
}