@import url(_register.css);
@import url(_login.css);
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    
    background-color: #eac926;
}

.box-main{
    width: 90%;
    justify-content: center;
    background-color: white;
}

.header{
    width: 100vw;
    background-color: #eac926;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
    background-color: #eac926;
}

.text-header{
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.text-header i{
    padding-right: 5px;
}

.logo{
    width: 150px;
    padding-bottom: 10px; 
    padding-top: 10px;
}

.search{
    display: flex;
    width: 40%;
    margin-bottom: 10px;
    margin-right: 20px;
}

.burger{
    background-color: #03264C;
    color: #ffffff;
    display: block;
    width: 50px;
    padding: 13px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 150px;
}

.nav {
    display: none;
    font-size: 20px;
    display: block;
    text-align: center;
    padding-top: 4%;
    background-color: #eac926;
}

.lista-1 ul{
    display: none;
    text-align: center;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
}

.lista-2 ul{
    display: none;
    text-align: center;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
}

.lista-1 ul li{
    display:flex;
    text-align: center;
    list-style: none;
}

.lista-2 ul li{
    display:flex;
    list-style: none;
    margin-right: 5px;
    
}

.lista-2 ul li i{
    padding-left: 8px;
}

ul li a{
    text-decoration: none;
    color: black;
}

.banner img{
    width: 100vw;
    height: 12vh;
}
.titular{   
    text-align: center; 
    margin-top: 5%;
    margin-bottom: 7%;
    font-size: 0.9em;
    padding-top: 18px;
    padding-left: 15px;
}

.productos{
    padding:10px;
    transition: 0.4s;
}
.productos:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}

.off{
    display: flex;
    color: green;
    position: relative;
    left: 115px;
    top: -11px;
    font-size: 15px;
}

.precio{
    font-size: 20px;
    padding-left: 7px;
    position: relative;
    top: 10px
}

.description{    
    text-align: center;
    padding-bottom: 20px;    
}

.truck-icon{
    border: 1px solid;
    padding: 5px;
    border-radius: 17px;
    color: green;
    position: relative;
    left: 150px;
    top: 7px;
}

.container-main{
    display: block;
    width: 100vw;
    background-color: white;
    align-items: center;
}

.principal{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 2%;
    align-items: center;
}

.box-art{
    border: 1px solid;
    width: 194px;
    height: 259px;
    background-color: #ebebeb;  
}

.box{
    position: relative;
    top: -33px;
}

.box .description{
    display: none;
    
    
}

.box:hover .description{
    display: block;
    transition: 0.4s;

}

footer{
    width: 100%;
    background-color:white;
}

.footer-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
}

.footer-description h3 {
    color:rgb(151, 148, 148)
    
}
.footer-complete .icono{
    color: blue;
    padding-top: 10px;
    padding-bottom: 5px;
    transition: 0.4s;
}

.footer-complete .icono:hover{
    color: greenyellow;
}

.footer-pie{
    padding-top: 10px;
}

@media(min-width:360px){
    .lista-1 ul , .lista-2 ul{
        display: flex;
    }
    .burger{
        display: none;
    }
}

@media(min-width:559px){
    
    .logo{
        width: 200px;
    }
    .search{
        margin-left: 55px;
        margin-right: 0;
    }
    .principal{
        flex-direction: row;
    }

    .titular{
        text-align: center;
        font-size: 2.0em;
    }
    .banner img{
        height: 17vh;
    }
}

@media(min-width:700px){
    .header{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    } 
    
    .header .logo{
        width: 300px;
    }
    .header .search{
        width: 20%;
    }

    .header .search input{
        width: 100%;
    }
    .header .text-header{
        margin-right: 20px;
        font-size: 18px;
    }
   
    .nav{
       display: flex;
       justify-content: space-around;
   }
  
   
   .lista-1 ul{
       display: flex;
       flex-direction: row;
       padding-right: 10px;
    }
   
   .lista-2 ul{
       display: flex;
       flex-direction: row;
    }
   
   ul li{
       padding-right: 10px;
    }
   
    

    .banner img{
        height: 20vh;
    }

   .box-art img{
       width: 300px;
    }

   .box-art{
       width: 335px;
       height: 385px;
   }
   .principal{
       display: flex;
   }

   .truck-icon{
       left: 247px;
       top: 7px;
   }

   .precio{
       font-size: 26px;
       padding-left: 20px;
   }

   .off{
       font-size: 26px;
       left: 206px;
       top: -19px;
   }

   .container-product .description{
       font-size: 28px;
       position: relative;
       top: -13px;
   }
}
@media(min-width:840px){
    

    .nav{
        font-size: 20px;
        padding-right: 35px;
    }

    .banner img{
        height: 43vh;
    }

    .titular{
        font-size: 2.8em;
        text-align: center;
    }

    .footer-description h3{
        font-size: 30px;
    }

    .footer-complete p{
        padding-top: 10px;
        font-size: 20px;
    }

    .text-header{
        font-size: 12px;    
    }
   
}